<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyyh.demo.dao.StudentMapper">
    <select id="listStudents" resultType="com.tyyh.demo.pojo.Student">
        select  * from student;
    </select>
    <delete id="delStudent">
        delete  from  student  where  id=#{id}
    </delete>
    <insert id="addStudent">
        insert  into  student values (null,#{sname},#{sage},#{sbirthday})
    </insert>
</mapper>